.form {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    gap: 9px;
    width: 400px;
    text-align: left;
    font-size: 19px;
    color: rgba(255, 255, 255, 0.566);
}

.addBtn {
    align-self: flex-end;
    border: solid 1px rgb(0, 0, 0);
    font-size: 20px;
}

.field {
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
}